@model UniformBuilder.MVC.Features.Uniform.JerseyBuilder

@{
    ViewBag.Title = "Create New Jersey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jersey</h2>

@using (Html.BeginForm("SaveJersey", "Jersey", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>JerseyBuilder for @Model.StyleName (@Model.UniformStyleId) </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Identifier, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identifier, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Identifier, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.HiddenFor(model => model.UniformStyleId)
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@(Html.Kendo().Grid<UniformBuilder.MVC.Features.Uniform.JerseyView>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(v => v.Id);
            columns.Bound(v => v.Name);
            columns.Bound(v => v.Description);
            columns.Bound(v => v.Identifier);
            columns.Bound(v => v.StyleName);
            columns.Bound(v => v.StyleId);
        })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true)
            .PageSizes(true)
            .ButtonCount(5))
        .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(m => m.Id))
            .Read(read => read.Action("GetJerseysForTheStyle", "Jersey",new {id = Model.UniformStyleId}))
            .PageSize(20)
        )
)



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
